# Copiar para android/keystore.properties e preencher (nunca commitar keystore.properties)
# Gerar o keystore com:
#   keytool -genkey -v -keystore nutrigestao-release.keystore -alias nutrigestao -keyalg RSA -keysize 2048 -validity 10000
#
# Colocar o arquivo .keystore fora do repositório Git (ex: ~/keystores/nutrigestao-release.keystore)

storeFile=../../keystores/nutrigestao-release.keystore
storePassword=SUA_SENHA_DO_KEYSTORE
keyAlias=nutrigestao
keyPassword=SUA_SENHA_DA_CHAVE
